/awesome
/i3blocks/.config/i3blocks/iface
/ranger/.config/ranger/history
/ranger/.config/ranger/bookmarks
/ranger/.config/ranger/colorschemes/
/ranger/.config/ranger/tagged
/vim/.vim/plugged/
/mpd/.config/mpd/log
/mpd/.config/mpd/mpd.db
/mpd/.config/mpd/mpd.pid
/mpd/.config/mpd/mpdstate
/mpd/.config/mpd/sticker.sql
/ncmpcpp/.ncmpcpp/config-BAK.txt
/ncmpcpp/.ncmpcpp/error.log
/ncmpcpp/.ncmpcpp/patterns.list
/neovim/.config/nvim/plugged/
/neovim/.config/nvim/.init.vim-rplugin~
/neovim/.config/nvim/log/neomake.log
/neovim/.config/nvim/autoload/
/neovim/.config/nvim/log/neomake.log
/polybar
/vim/.vim-local
/zsh/.oh-my-zsh/custom/
__pycache__
__init__.py
