i3blocks/.config/i3blocks/iface
ranger/.config/ranger/history
ranger/.config/ranger/bookmarks
ranger/.config/ranger/colorschemes/
ranger/.config/ranger/tagged
mpd/.config/mpd/log
mpd/.config/mpd/mpd.db
mpd/.config/mpd/mpd.pid
mpd/.config/mpd/mpdstate
mpd/.config/mpd/sticker.sql
ncmpcpp/.ncmpcpp/config-BAK.txt
ncmpcpp/.ncmpcpp/error.log
ncmpcpp/.ncmpcpp/patterns.list
neovim/.config/nvim/plugged/
neovim/.config/nvim/.init.vim-rplugin~
polybar/.config/polybar/ip.sh
vim/.vim-local/undofiles/*
vim/.vim/.netrwhist
vim/.vim/plugged/
zsh/.oh-my-zsh/cache/
